<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css">
	<link href="https://unpkg.com/nes.css@latest/css/nes.min.css" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
	<meta http-equiv="refresh" content="60">
	<title>Everything</title>
	<style>
    body {
      padding-bottom: 90px;
    }
    .nes-progress {
      height: 40px;
    }
	</style>
</head>
<body>
<nav style="padding: 20px; border-bottom: 3px solid #ccc; margin-bottom: 30px;">
    <div class="container">
      <h2 style="header margin-bottom: 0;">
        <i class="nes-icon is-large like"></i>
        Everything
		<div class='container'>
			<div class='nes-container is-right'>
				<a class="nes-btn is-primary" href='/'>Home</a>
				<a class="nes-btn is-success" href='/everything'>Everything</a>
				
			</div>
		</div>
      </h2>
      
    </div>
</nav>
<a>This is the everything</a>

</body>
